{% extends "base.html" %}

{% block content %}

            <div class="container">

                <div class="row mt-50">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center heading-separator" style="color:white">WARNING!</h2>
                        <form method="POST" action="{{ url_for('.transfer')}}">
                            <div class="row">
                                <br><br><br><h2 style="color:white">You are about to transfer IMC devices</h2>
                                <h1 style="color:white">Proceed with caution!!</h1>
                                <h3 style="color:red">Dange Will Robinson!!!</h3>

                            </div>
                            <div>
                            <div class="text-center mt-20">
                                <button class="btn btn-red">Transfer</button>
                            </div>
                            <input type="text" hidden value="{{ source }}" name="source">
                            <input type="text" hidden value="{{ destination }}" name="destination">
                        </form>
                        <form method="POST" action="{{ url_for('.home', message = 'Returned to home screen...EOL') }}">


                            <div class="text-center mt-20">
                                <button class="btn btn-red">Home</button>
                            </div>
                        </form>
                    </div>
                </div><!-- /.form -->

{% endblock %}
